@using PublishR
@model PublishR.Mvc.ACommerce.Models.HomePageModel

@{
    ViewBag.Title = "A Commerce App";
    Layout = "../Shared/_Layout.cshtml";
}
<h2>A Commerce App</h2>
<table id="productsTable">
    <thead>
        <tr>
            <td><strong>Product Name</strong></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products) {
            <tr data-id="@product.Id">
                <td>@product.Name</td>
            </tr>
        }
    </tbody>
</table>
<br />
<strong>MESSAGES</strong>
<ul id="messageList">
</ul>

@section scripts
{
    <script src="~/Scripts/jquery.signalR-1.0.1.js"></script>
    <script src="~/signalr/hubs"></script>

    <script type="text/javascript">
        $(function () {
            var hub = $.connection.@Defaults.PUBLISHR_HUB_NAME;
            $.extend(hub.client, {
                logMessage: function (data) {
                    $("#messageList").append("<li> logMessage => " + data.Message + " : " + data.ProductId + "</li>");
                },
                productDeleted: function (data) {
                    $("#messageList").append("<li>" + data.Message + " : " + data.ProductId + "</li>");
                    $("#productsTable tr[data-id="+data.ProductId+"]").remove();
                }, 
                productUpdated: function (data) {
                    $("#messageList").append("<li>" + data.Message + " : " + data.ProductId + "</li>");
                },
                productCreated: function (data) {
                    $("#messageList").append("<li>" + data.Message + " : " + data.ProductId + "</li>");
                }
            });

            $.connection.hub.start()
                .done(function () {
                    console.log("Connected!");
                })
                .fail(function () {
                    console.log("Could not Connect!");
                });
        });
    </script>
}
